recursive-include src *.pxd *.pyx *.c
recursive-include src/cern/cpymad/_models *.json
recursive-include src/cern/cpymad/_models/re*data *.madx *.str *.seq *.tfs *.xsifx *CLICx *.ind92
recursive-include test *.py *.cmake *.txt
include README.rst CHANGES.rst LICENSE.txt
include *.cmake
include requirements.txt
