recursive-include src *.pxd *.pyx *.c
recursive-include src/cern/cpymad/_models *.yml
recursive-include src/cern/cpymad/_models/re*data *.madx *.str *.seq *.tfs *.xsifx *CLICx *.ind92
recursive-include test *.py *.cmake *.txt
include README.rst CHANGES.rst LICENSE.txt COPYING.txt
include *.cmake
include setup.py ez_setup.py
include requirements.txt
